#bg-color {
  background-color:rgb(65, 89, 63) ;
}
.img-fluid {
    width: 600px;
    height: 400px;
}
h1{
    font-size: xx-large;
}
.mb-2{
    margin-bottom: .5rem !important;
}
.text-color{
   
   background-color:rgb(65, 89, 63) ;
   color:white;
   padding: 3px;
   border-radius: 4px;
}
 
.img-card-style{
    object-fit: cover; 
    height: 350px; 
    
}
.massege-container{
    background-color: rgb(151, 199, 149);
}