#bg-color {
    background-color:rgb(65, 89, 63) ;
  }
.btn-style{
    background-color: rgb(65, 89, 63);
}
.img-style{
    width: 600px;
    height: 400px;
}
.img-crew{
    width: 150px;
    height: 150px;   
}